adat/ARUD2_Borja_Castellano_Extremadouro/actores.dtd

<!ELEMENT Actores (Actor)*>
        <!ELEMENT Actor (Nome|Sexo|DataNacemento)*>
        <!ATTLIST Actor
                id ID #REQUIRED>
        <!ELEMENT Nome (#PCDATA)>
        <!ELEMENT Sexo (#PCDATA)>
        <!ELEMENT DataNacemento (#PCDATA)>
        <!ATTLIST DataNacemento
                formato CDATA #REQUIRED>